@font-face {
    font-family: "Gotham Pro";
    src: url(../../assets/fonts/Gotham\ Pro/gothampro.ttf);
}

@font-face {
    font-family: "Gotham Pro Bold";
    src: url(../../assets/fonts/Gotham\ Pro/gothampro_bold.ttf);
}